/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-dark {
    --bg-color: rgb(000, 000, 000);
    --accent-color: rgb(000, 204, 020);
    --title-regular-font-weight: 465;
    --title-bold-font-weight: 785;
    --bg-image-from: rgb(000, 127, 012);
    --bg-image-to: rgb(000, 067, 006);
    --bg-image:
            repeating-linear-gradient(to left, rgb(000, 000, 000) 0 2px, rgb(000, 000, 000, 000) 2px 4px),
            repeating-linear-gradient(to bottom, rgb(000, 000, 000) 0 2px, rgb(000, 000, 000, 000) 2px 4px),
            repeating-linear-gradient(to bottom, var(--bg-image-from), var(--bg-image-to));
    --heart-counter: rgb(000, 204, 020);
    --heart-body: rgb(255, 000, 000);
    --button-text-color: rgb(000, 204, 020);
}

:root.theme-light {
    --bg-color: rgb(255, 255, 255);
    --accent-color: rgb(000, 000, 000);
    --title-regular-font-weight: 400;
    --title-bold-font-weight: 700;
    --bg-image-from: rgb(231, 231, 231);
    --bg-image-to: rgb(026, 026, 026);
    --bg-image:
            repeating-linear-gradient(to left, rgb(211, 211, 211) 0 2px, rgb(211, 211, 211, 000) 2px 4px),
            repeating-linear-gradient(to bottom, rgb(211, 211, 211) 0 2px, rgb(211, 211, 211, 000) 2px 4px),
            repeating-linear-gradient(to bottom, var(--bg-image-from), var(--bg-image-to));
    --heart-counter: rgb(000, 000, 000);
    --heart-body: rgb(255, 000, 000);
    --button-text-color: rgb(255, 255, 255);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: rgb(000, 000, 000);
        --accent-color: rgb(000, 204, 020);
        --title-regular-font-weight: 465;
        --title-bold-font-weight: 785;
        --bg-image-from: rgb(000, 127, 012);
        --bg-image-to: rgb(000, 067, 006);
        --bg-image:
                repeating-linear-gradient(to left, rgb(000, 000, 000) 0 2px, rgb(000, 000, 000, 000) 2px 4px),
                repeating-linear-gradient(to bottom, rgb(000, 000, 000) 0 2px, rgb(000, 000, 000, 000) 2px 4px),
                repeating-linear-gradient(to bottom, var(--bg-image-from), var(--bg-image-to));
        --heart-counter: rgb(000, 204, 020);
        --heart-body: rgb(255, 000, 000);
        --button-text-color: rgb(000, 204, 020);
    }
}