/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-dark {
    --bg-color: rgb(000, 000, 000);
    --accent-color: rgb(000, 204, 020);
    --inter-paragraph-font-weight: 465;
    --inter-title-font-weight: 785;
    --bg-image-from: rgb(000, 127, 012);
    --bg-image-to: rgb(000, 067, 006);
    --bg-image:
            repeating-linear-gradient(90deg, rgb(000, 000, 000) 2px, transparent 4px),
            repeating-linear-gradient(rgb(000, 000, 000) 2px, transparent 4px),
            repeating-linear-gradient(var(--bg-image-from), var(--bg-image-to));
    --heart-counter: rgb(000, 204, 020);
    --heart-body: rgb(255, 000, 000);

    .like-button::after {
        background-color: var(--accent-color);
    }

    .like-button:hover::after {
        background-color: var(--accent-color);
    }

    .card__save-button::after {
        background-color: var(--accent-color);
    }

    .card__save-button:hover::after {
        background-color: var(--accent-color);
    }

    .card__like-button::after {
        background-color: var(--accent-color);
    }

    .card__like-button:hover::after {
        background-color: var(--accent-color);
    }
}

:root.theme-light {
    --bg-color: rgb(255, 255, 255);
    --accent-color: rgb(000, 000, 000);
    --inter-paragraph-font-weight: 465;
    --inter-title-font-weight: 785;
    --bg-image-from: rgb(231, 231, 231);
    --bg-image-to: rgb(026, 026, 026);
    --bg-image:
            repeating-linear-gradient(90deg, rgb(211, 211, 211) 2px, transparent 4px),
            repeating-linear-gradient(rgb(211, 211, 211) 2px, transparent 4px),
            repeating-linear-gradient(var(--bg-image-from), var(--bg-image-to));
    --heart-counter: rgb(000, 000, 000);
    --heart-body: rgb(255, 000, 000);

    .like-button::after {
        background-color: var(--bg-color);
    }

    .like-button:hover::after {
        background-color: var(--bg-color);
    }

    .card__save-button::after {
        background-color: var(--bg-color);
    }

    .card__save-button:hover::after {
        background-color: var(--bg-color);
    }

    .card__like-button::after {
        background-color: var(--bg-color);
    }

    .card__like-button:hover::after {
        background-color: var(--bg-color);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: rgb(000, 000, 000);
        --accent-color: rgb(000, 204, 020);
        --inter-paragraph-font-weight: 465;
        --inter-title-font-weight: 785;
        --bg-image-from: rgb(000, 127, 012);
        --bg-image-to: rgb(000, 067, 006);
        --bg-image:
                repeating-linear-gradient(90deg, rgb(000, 000, 000) 2px, transparent 4px),
                repeating-linear-gradient(rgb(000, 000, 000) 2px, transparent 4px),
                repeating-linear-gradient(var(--bg-image-from), var(--bg-image-to));
        --heart-counter: rgb(000, 204, 020);
        --heart-body: rgb(255, 000, 000);
    }

    .like-button::after {
        background-color: var(--accent-color);
    }

    .like-button:hover::after {
        background-color: var(--accent-color);
    }

    .floppy {
        fill: var(--accent-color);
    }

    .card__save-button::after {
        background-color: var(--accent-color);
    }

    .card__save-button:hover::after {
        background-color: var(--accent-color);
    }

    .card__like-button::after {
        background-color: var(--accent-color);
    }

    .card__like-button:hover::after {
        background-color: var(--accent-color);
    }
}