/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --inter-variable-font: 'Inter-Variable';
    --press-start-2p-font: 'PressStart2P-Regular';
    --inter-title-font-weight: 700;
    --inter-paragraph-font-weight: 400;
    --bg-color: rgb(255, 255, 255);
    --accent-color: rgb(000,000,000);
    --bg-image-from: rgb(231, 231, 231);
    --bg-image-to: rgb(026, 026, 026);
    --bg-image:
            repeating-linear-gradient(90deg, rgb(211, 211, 211) 2px, transparent 4px),
            repeating-linear-gradient(rgb(211, 211, 211) 2px, transparent 4px),
            repeating-linear-gradient(var(--bg-image-from), var(--bg-image-to));
    --heart-counter: rgb(000, 000, 000);
    --heart-body: rgb(255, 000, 000);
}